#nodemodules
node_modules
#venv
venv
# Byte-compiled / optimized / DLL files _pycache/ *.py[cod] *$py.class */pycache_/*
/_pycache_/
/_migrations_/
**/migrations/
*/*/migrations
**/pycache/
*/*/pycache_
app/api/_pycache_/
app/app/_pycache_/
app/api/migrations/
app/users/_pycache_/
app/users/migrations/