#nodemodules
node_modules
#venv
venv
# Byte-compiled / optimized / DLL files __pycache__/ *.py[cod] *$py.class */__pycache__/*
/__pycache__/
/__migrations__/
**/migrations/
**/**/migrations
**/pycache/
**/**/pycache_
app/api/__pycache__/
app/api/migrations/
app/users/__pycache__/
app/users/migrations/